<style>      
	body{ background-image: url("fondo.png");
		background-size: cover;
		background-position: center;
		background-attachment: fixed;
		color:#00ff00;
		font-family: sans-serif;
		display: flex;
		flex-direction: column;
		aling-items: center;
		justify-content; center;
		height: 100vh;
		margin: 0;
		}
		.tarjeta {
			background-color rgba(255,255,255,0.1)!important;
			backdrop-filter: blur (15px);
			-webkit-backdrop-filter: blur(15px);
			border: 1px solid rgba(255,255,255,0.2)!important;
			width: 350px;
			min-height: 200px;
			padding: 40px;
			display: flex;
			flex-direction: column;
			justify-content: center;
			aling-itemas: center;
			border: 10px solid (255,255,255,0.1)!important;
			border-radius: 20px;
			max-width: 500px;
			text-aling: center;
			box-shadow: 0 8px 32px 0 rgb(0,0,0,0.5);
				}
			h1,p{
				color: #00ff00;
				text-shadow: 2px 2px 4px rgba(0,0,0,0.8);}
			button {
				background-color: #00ff74;
				border: none;
				padding: 10px 50px;
				cursor: pointer;
				font-weight: bold;
			}
			</style>
